{% extends "TrabajoWebApp/base.html"%}
{% load static %}
{% block content %}
<nav class="nav">
    <a class="nav-link active" href="{% url 'pregunta' %}">PreguntasActive</a>
    <a class="nav-link" href="{% url 'preguntasmulti' %}">pregunta mult</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#">Disabled</a>
  </nav>


<div class="contenedorFormulario">
    <form style=" text-align: center;"  method="POST" >
        {% csrf_token %}
         <table style="color: aliceblue" >{{ form }}</table>
         <a class="nav-link text-uppercase text-expanded" href="{% url 'index' %}"><button type="submit">Guadar g</button></a>
        
    </form>
    {{mensaje}}
</div>


{% endblock %}