{% extends "TrabajoWebApp/base.html"%}
{% load static %}
{% block content %}
<h1 style="color: aliceblue;">Pregunta</h1>

<nav class="nav">
    <a class="nav-link active" href="{% url 'pregunta' %}">PreguntasActive</a>
    <a class="nav-link" href="{% url 'preguntasmulti' %}">pregunta mult</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#">Disabled</a>
  </nav>



{% endblock %}