{% extends "TrabajoWebApp/base.html"%}
{% load static %}
{% block content %}

<h1 style="color: aliceblue;">ofertas de trabajo</h1>
{% for ofer in oferta %}
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ofer.imagan.url}}" alt="" style="width: 50%;">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          
          <span class="section-heading-lower">{{ofer.titulo}}</span>
        </h2>
        <p class="mb-3">{{ofer.texto}}
        </p>
       
      </div>
    </div>
  </div>
</section>
{% endfor %}

{% endblock %}