{% extends "TrabajoWebApp/base.html"%}
{% load static %}
{% block content %}
<form class="form" method="POST" style="color: aliceblue;">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" id="submit">login</button>

</form>

{% endblock%}