{% extends "TrabajoWebApp/base.html"%}
{% load static %}
{% block content %}



    {% if messages%}
      {% for message in messages %}
        <div class="notification {{message}}" style="background-color: crimson;">
        {{message}}
        </div>
        {% endfor %}
    {% endif %}



<form class="form" method="POST" style="color: aliceblue;">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" id="submit">Registarse</button>

</form>

{% endblock%}