{% extends "TrabajoWebApp/base.html"%}
{% load static %}
{% block content %}
<h1 style="color: aliceblue;">Formulario</h1>

<div class="contenedorFormulario">
    <form style=" text-align: center;"  method="POST" >
        {% csrf_token %}
         <table style="color: aliceblue" >{{ form }}</table>
        <button type="submit">Guadar</button>
    </form>
    {{mensaje}}
</div>



<li class="nav-item active px-lg-4">
    <button><a class="nav-link text-uppercase text-expanded" href="{% url 'pregunta' %}">Desea agregar una pregunta</a></button>
</li>

{% endblock %}